a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited{
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lightskyblue;
  background-color: transparent;
  text-decoration: underline;
}

.sem-link {
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
    pointer-events: none;
}

.Imagem-calendario{
  width: 10%;
  margin-bottom: 10px;
}

.Secao-3{
  width: 100%;
  border: 3px solid black;
  align-content: center;
  text-align: center;
  margin-top: 10px;
}

.Secao-2{
  width: 100%;
  border: 3px solid black;
  align-content: center;
  text-align: center;
  margin-top: 10px;
}

.Secao-1{
  width: 100%;
  border: 3px solid black;
  align-content: center;
  text-align: center;
}

.Conteudos {
    display: flex;
    gap: 10px; 
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Conteudos-FGB, .Conteudos-IF-CNT {
    flex: 1;              
    border: 1px solid black;  
    padding: 10px; 
    box-sizing: border-box;
    text-align: center;
}

.Conteudos-FGB p, .Conteudos-IF-CNT p {
  text-align:left;
  font-size: 20px;
}
